<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">

    </style>
</head>
<body>
<p>Dear Customer:</p>

<p>Thanks for registering at Taobao FOCUS!</p>

<p>Here is your login information:</p>

<p>Email:{{email}}</p>

<p>Please, follow this link to activate your account:</p>

<p><a href="{{confirm_url}}">{{confirm_url}}</a></p>

<p>
    Thanks for using our service!
    Best regards,
    Taobao FOCUS Team
</p>
<a href="http://taobaofocus.com">http://taobaofocus.com</a>
</body>
</html>