.thumbnail {
    margin-bottom: 0px;
}

.carousel-control.left {
    background-image: none;
    left: -55px;
}

.carousel-control {
    color: #111111;
    opacity: 0.8;
}

.carousel-control.right {
    background-image: none;
    right: -55px;
}

div#product-carousel {
    margin-top: 10px;
}

div#product-main-contents {
    padding-left: 20px;
}

td.prop-name {
    width: 50px;
    font-size: 10px;
}

td.prop-value {
    width: 50px;
    font-size: 10px;
}

img.prop-img {
    margin: 5px;
}

span#item-price {
    font-size: 15px;
    color: #ff6666;
}

span#item-quantity {
    font-size: 15px;
    color: #330033;
}