{% extends '../../skeleton_layout.html' %}
{% block body %}
<div class="container">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/super/{{user._id.toString()}}/workspace">TaobaoFocus.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li><a href="/super/{{user._id.toString()}}/usermng">Users</a></li>
                <li><a href="/super/{{user._id.toString()}}/authmng">Authorizations</a></li>
                <li><a href="/super/{{user._id.toString()}}/ordermng">Orders</a></li>
                <li><a href="/super/{{user._id.toString()}}/langmng">Languages</a></li>
                <li><a href="/super/{{user._id.toString()}}/sysmng">System Configs</a></li>

                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Action</a></li>-->
                <!--<li><a href="#">Another action</a></li>-->
                <!--<li><a href="#">Something else here</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
{% endblock body %}